/* Estilos para adoption.jsx */

.adoption-container {
  background: #fff;
}
.adoption-content {
  margin-left: 240px;
  padding-top: 140px;
  padding-right: 32px;
  padding-left: 32px;
}
.adoption-info {
  text-align: center;
  color: #b94d0d;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}
.adoption-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
