/* Estilos para sponsor.jsx */

.sponsor-container {
  background: #fff;
}

.sponsor-content {
  padding-top: 30px;
  padding-right: 32px;
}

.sponsor-container .head-container {
  position: static !important;
  top: unset !important;
  left: unset !important;
  width: 100%;
  z-index: auto;
}
.sponsor-info {
  text-align: center;
  margin-left: 20px;
  color: #b94d0d;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}
.sponsor-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
