/* Estilos para el buscador opcional en Head */
.head-search {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.head-search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #f37021;
  border-radius: 30px;
  padding: 6px 12px;
  height: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: border-color 0.3s ease;
}

.head-search:focus-within {
  border-color: #d95c13;
}
.head-search-icon {
  font-size: 18px;
  color: #f37021;
  margin-right: 8px;
}

.head-search-input {
  border: none;
  outline: none;
  font-size: 15px;
  font-family: inherit;
  background-color: transparent;
  color: #444;
  padding: 0 10px;
  min-width: 200px;
}

.head-search-input::placeholder {
  color: #bbb;
}

/* Estilos para el componente Head */
.head-container {
  width: 100%;
  margin: 0 auto;
  background: #fffdce;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  box-sizing: border-box;
  min-height: 90px;
  box-shadow: 0 2px 12px 0 rgba(243,112,33,0.04);
  gap: 32px;
  border-radius: 10px;
}

.head-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.head-title {
  color: #F37021;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 0px;
  margin-bottom: 0;
}

.head-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.head-contact {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.04);
  padding: 0.7rem 1.2rem;
  color: #b94d0d;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 180px;
  margin-right: 10px;
}

.head-contact-title {
  margin-bottom: 4px;
  color: #F37021;
  font-weight: 700;
  font-size: 16px;
}

.head-contact-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2px;
  font-size: 15px;
}

.head-contact-icon {
  color: #F37021;
  font-size: 20px;
}

.head-contact-text {
  color: #F37021;
}

.head-contact-link {
  color: #F37021; /* Elige el color que prefieras */
}

.head-contact-link:hover {
  color: #F37021;
  text-decoration: underline;
}

.head-logo {
  margin-top: -3px;
  margin-bottom: 3px;
  margin-left: 20px;
}
